:root {
  --black-primary: #0f0f0f;
  --black-secondary: #121212;
  --black-hover: #191919;
  --white-primary: #f6f6f6;
  --gray-primary: rgba(167, 167, 155, 0.9);

  --font-primary: "Wix Modefor Text", sans-serif;

  --border-radius-sm: 10px;
  --border-radius-md: 20px;
  --border-radius-lg: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-primary);
  color: var(--white-primary);
  background-color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

svg {
  fill: var(--gray-primary);
}

#appLayout {
  padding: 10px;
  display: grid;
  grid-template-columns: minmax(200px, 420px) 1fr;
}

.container {
  padding: 16px 20px;
}
