:root {
  --black-primary: #0f0f0f;
  --black-secondary: #121212;
  --black-tertiary: #242424;
  --black-hover: #191919;
  --white-primary: #f6f6f6;
  --gray-primary: rgba(167, 167, 155, 0.9);
  --gray-hover: #1a1a1a;
  --green-primary: #1fdf64;

  --font-primary: "Wix Modefor Text", sans-serif;

  --border-radius-sm: 10px;
  --border-radius-md: 15px;
  --border-radius-lg: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-primary);
  color: var(--white-primary);
  background-color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.icon-btn {
  padding: 0.8rem;
  border-radius: 100%;
}
.button {
  display: flex;
  align-items: center;
  padding: 0.7rem 1.7rem;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: var(--border-radius-lg);
  gap: 0.7rem;
}
.button:hover,
.icon-btn:hover {
  scale: 1.05;
}
.button-sm {
  padding: 0.7rem 1.2rem;
  font-weight: 400;
}

.primary,
.active {
  background-color: var(--white-primary);
  color: black;
}

.secondary {
  background-color: black;
  color: var(--white-primary);
}
.secondary svg,
.light-secondary svg {
  fill: var(--white-primary);
}
.light-secondary {
  background-color: var(--black-primary);
  color: var(--white-primary);
}
.inactive {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-primary);
}
.inactive:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

svg {
  fill: var(--gray-primary);
}

#appLayout {
  padding: 7px;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  height: 100vh;
  gap: 7px;
}

#main {
  background: rgb(18, 18, 18);
  background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 61%,
    rgba(34, 34, 34, 1) 100%
  );
  border-radius: var(--border-radius-sm);
}

.container {
  padding: 16px 20px;
}
.container2 {
  padding: 0 7px;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
